.root{
    -fx-background-image: url("\Projects\TFRPG%20NPC%20Generator\src/background.png");
        -fx-background-repeat: stretch;
        -fx-background-size:700 700;
        -fx-background-position: center center;
}
#box_style{
    -fx-border-color: gray;
    -fx-border-style: solid;
    -fx-border-inset: 1 1;
    -fx-padding: 2;
}
.button{
    -fx-background-color: #800080;
    -fx-text-fill: white;
}
.label{
    -fx-text-fill: white;
}
.radio-button{
    -fx-text-fill: white;
}
