.root{
    -fx-background-image: url("backgroundImage.png");
    -fx-background-repeat: stretch;
    -fx-background-size:700 700;
    -fx-background-position: center center;
}
#box_style{
    -fx-border-color: yellow;
    -fx-border-style: solid;
    -fx-border-inset: 1 1;
    -fx-padding: 2;
}
.button{
    -fx-background-color: #800080;
    -fx-text-fill: white;
}
.label{
    -fx-text-fill: white;
}
.radio-button{
    -fx-text-fill: white;
}