.TotalVB{
    -fx-background-image: url("logo.png");
    -fx-background-repeat: stretch;
    -fx-background-size:700 700;
    -fx-background-position: center center;
}
.radioHB{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;

}
.topInfo{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}
.streEssBox{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}
.speEssBox{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}
.smaEssBox{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}
.socEssBox{
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}
.GenerateNPCs{
    -fx-background-color: linear-gradient(#800080, #FF0000);
    -fx-font-color: white;
}
.next{
    -fx-background-color: linear-gradient(#800080, #FF0000);
    -fx-font-color: white;
}
.previous{
    -fx-background-color: linear-gradient(#800080, #FF0000);
    -fx-font-color: white;
}
.clear{
    -fx-background-color: linear-gradient(#800080, #FF0000);
    -fx-font-color: white;
}
.writeToFile{
    -fx-background-color: linear-gradient(#800080, #FF0000);
    -fx-font-color: white;
}

